.container-suprême-admin{
  width: 100%;
  display: grid;
  grid-template-columns: 800px;
}

.titre-page-admin{
  display: block;
  margin: auto ;
  color : #FA8;
}

.container-card-sup-admin {
  display: grid;
  grid-template-columns: auto auto 50px;
}

.card-sup-admin{

  display: grid;
  grid-template-columns: auto;
  border: solid 1px rgba(20,40,40,0.5);
  border-radius: 5px;
  background-color: rgba(80,130,120,0.2);
  margin: 4%;
}



.titre-card-sup-admin {

  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 30px;
  color : orange;
  position: center;
  margin: auto;
}

.card-sup-admin > ul{
  list-style: none;
  padding: 0;
}

.container-employe{

  display: grid;
  grid-template-columns: auto auto auto;


  border-radius: 5px;
  border: solid 1px rgba(0,0,0,0.2);
  background-color: white;
  margin: auto;
}


.list-employe{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
}

.button-modifier{
  display: grid;
  margin: auto;
  text-align: center;
  background-color: #EC7;
  color: white;
  padding: 16px 60px;
  border-radius: 7px;
  border: 2px solid;

}

.ajout_employe{
  display: block;
  margin: auto ;
}

.employe {
  padding: 10px 5px;
}
.conteneur_popup_ajout_employe{
  /*display: none;*/
}

.conteneur_popup_ajout_employe{
  max-width: 352px;
  margin: center;
  display: grid;
  grid-template-columns: 200px 150px ;
  background-color: white;
  border-radius: 10px;

  border: solid 2px rgba(0,0,0,0.2);
}

.confirmer-ajout-employe{
  background-color: #D37C07;
  color: white;
  padding: 10px 2px;
  border-radius: 10px;
  border: none;
}
.fermer-ajout-employe{
  background-color: #FF2222;
  color: white;
  padding: 10px 2px;
  border-radius: 10px;
  border: none;
}
