/*********************************** CONTAINER PRINCIPAL des logements*******************************/
.container-logements {
  width: 92%;
  height: 95vh;
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  /* CONFIGURATION du container DE LA BOX LOGEMENT*/
  .card-logement {
    flex-basis: 25%;
    height: 40%;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.2);
    background-color: white;
    margin: auto;
  }
     /*CONFIGURATION de l'en-tête de la box*/
     .card-logement > .card-head {
       height: 50px;
       border-bottom: solid 1px rgba(0,0,0,0.1);
       background: #FF9100;
       color: white;
       text-align: center;
     }
     .home-information { position: relative;  top: 2vh;}

      /*CONFIGURATION du corp de la box*/
     .card-logement > .card-body {
       height: 70%;
       background: white;
     }
     .card-logement > .card-body > form { width: 100%; height: 100%}
     .piece-direction { width: 100%; height: 100%; border: none; background: #ffffff;}
     .piece-direction > img { width: 100%; height: 100%;}
     .piece-direction:hover { cursor: pointer; box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3) }
     .piece-direction > span { position: relative; top: -17.5vh; color: rgba(0,0,0,0.3)}

     .card-footer {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       width: 100%;
       height: 9%;
       text-align: center;
       background: white;
     }
     .card-footer > a, form > input {
      background: white;
      border: none;
      text-decoration: none;
      font-size: 14px;
      padding: 0;
      margin: auto;
      color: rgba(0,0,0,0.8);
     }
     .card-footer > form { width: auto; height: 100%; margin: auto}
     .card-footer > form > input { margin-top: 8%;}

     .card-footer > a:hover, form > input:hover { box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1); cursor: pointer;}
     

/**********************************CONFIGURATION du bouton d'ajout de logement************************/
.container-logements > form > input {
  position: absolute;
  top: 80px;
  left: 45%;
  width: 200px;
  height: 50px;
  font-size: 14px;
  color: white;
  border:none;
  background-color: #FFB870;
}
.container-logements > form > input:hover {
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}


/***********************************CONFIGURATION DES MODALS de la page logement***********************************/

/*MODAL DE PARTAGE*/
/*En-tête du modal partage*/
.modal-partage > .modal-head{
  text-align: center;
  text-align: -moz-center;
}
  .modal-partage > .modal-head > p {
  margin-left: 10%;
  color: #FFB870;
  font-weight: 600;
}
/*Corps du modal partage*/
.modal-partage > .modal-text > form {
text-align: center;
text-align: -moz-center;
}
  .modal-partage > .modal-text > form > .form-group {
margin-top: 4%;
}
    .modal-partage > .modal-text > form > .form-group > input {
border: solid 2px rgba(0,0,0,0.2);
padding: 1%;
border-radius: 5px;
margin-left: 2%;
}
    .modal-partage > .modal-text > form > .form-group:first-of-type > input {
width: 50%;
}
  .modal-partage > .modal-text > form > button {
padding: 2%;
padding-left: 3%;
padding-right: 3%;
border-radius: 5px;
background-color: #FFB870;
color: white;
font-weight: 600;
}

/*MODAL POUR SUPPRIMER UN LOGEMENT*/
/*En-tête du modal supprimer*/
.modal-supprimer > .modal-head {
  text-align: center;
  text-align: -moz-center;
}
  .modal-supprimer > .modal-head > p {
    color: #F44236;
    font-weight: 600;
  }
/*Corps du modal supprimer*/
.modal-supprimer > .modal-text > form {
  text-align: center;
  text-align: -moz-center;
}
  .modal-supprimer > .modal-text > form > .form-group {
  margin-top: 8%;
}
    .modal-supprimer > .modal-text > form > .form-group > input {
  border: solid 2px rgba(0,0,0,0.2);
  padding: 1%;
  border-radius: 5px;
  margin-left: 2%;
  margin-top: 4%;
}
  .modal-supprimer > .modal-text > form > button {
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 5px;
  background-color: #F44236;
  color: white;
  margin-top: 2%;
  font-weight: 600;
}


@media screen and (max-width: 990px)  {
  .container-logements {
    display: none;
  }
  header {
    visibility: hidden;
    overflow: auto;
  }
  footer {
    visibility: hidden;
  }
  .container-logement-mobile {
    width: 100%;
    height: 100vh;
  }
  .card-mobile {
    width: 80%;
    height: 40%;
    background: white;
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
  }

  .sensor {
    width: 100%;
    height: 100%;
  }

  .go-sensor {
    width: 100%;
    height: 100%;
    background: white;
    border: solid 1px rgba(0,0,0,0.2);
  }
  .go-sensor:hover {
    cursor: pointer;
  }
  .go-sensor > img {
    height: 100%;
  }

  .card-header-mobile {
    border: solid 1px rgba(0,0,0,0.1);
    height: 20%;
  }
  .card-body-mobile {
    width: 100%;
    height: 80%;
  }
}