@media all and (min-width: 1024px)
{
.first{

  background-image: url('/Ecosystem/static/image/icon/lights.jpg');
  background-size: 1920px 1080px;
  height: 750px;
  width: 1920px;
  display: table;

}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scroll-down {

  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {

  position: absolute;
  bottom: 52%;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

.inside {
  padding-top: 50px;
  padding-left: 40px;
  width: 35%;
  height:760px;
  background-color: #FAFAFA;

}

.inside label{
  text-align: left;
  padding-right: 30px;
}


input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin-left: 24px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.inside button {

    background-color: grey;   
    color: white;
    padding: 14px 20px;
    margin-left: 60px; 
    margin-top: 25px;
    cursor: pointer;
    width: 50%;
    
}

.inside button:hover {
    opacity: 0.8;
}

.ok
{
  background-image: url('/Ecosystem/static/image/icon/lights.jpg');
  background-color: #EB5101;
  display: table;
  background-size: 1920px 1080px;
  height: 697px;
  width: 1980px;
}

.bott {

	padding-bottom: : 2500px;
	width: 400px;
	height: 250px;
	background-color: #FAFAFA;
	margin-top: 150px;
	margin-left: 150px;
	transition-duration: 0.5s;
	padding: 10px;
	border: 3px grey;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
	border-radius: 20px;
 
}

.bott:hover
{
	width: 600px;
	height: 350px;
}

#return-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: #FE6801;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.0s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#return-to-top:hover {
    background: #FF4A2C;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


}

@media all and (max-width: 649px)
{
.first{

  background-image: url('https://wallpapercave.com/wp/wp1910047.jpg');
  background-size: 1920px 1080px;
  height: 480px;
  width: 100%;
  display: table;

}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inside {
  padding-top: 50px;
  padding-left: 40px;
  width: 280px;
  height: 720px;
  background-color: #FAFAFA;

}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.inside button {

    background-color: grey;   
    color: white;
    padding: 14px 20px;
    margin-left: 60px; 
    cursor: pointer;
    width: 50%;
    
}

.inside button:hover {
    opacity: 0.8;
}

.ok{
  background-image: url('https://wallpapercave.com/wp/wp1910047.jpg');
  display: table;
  background-size: 1920px 1080px;
  height: 480px;
  width: 100%;
}

.bott {

  
  padding-bottom: : 2500px;
  margin-top: 25px;
  width: 280px;
  height: 250px;
  background-color: #FAFAFA;
  padding: 10px;
  border: 3px grey;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
  border-radius: 20px;
 
}

}
@media all and (max-width: 1024px) and (min-width: 650px)
{
.first{

  background-image: url('https://wallpapercave.com/wp/wp1910047.jpg');
  background-size: 1920px 1080px;
  height: 480px;
  width: 100%;
  display: table;

}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inside {
  padding-top: 50px;
  padding-left: 40px;
  width: 50%;
  height: 720px;
  background-color: #FAFAFA;

}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.inside button {

    background-color: grey;   
    color: white;
    padding: 14px 20px;
    margin-left: 60px; 
    cursor: pointer;
    width: 50%;
    
}

.inside button:hover {
    opacity: 0.8;
}

.ok{
  background-image: url('https://wallpapercave.com/wp/wp1910047.jpg');
  display: table;
  background-size: 1920px 1080px;
  height: 480px;
  width: 100%;
}

.bott {

  
  padding-bottom: : 2500px;
  margin-top: 25px;
  width: 50%;
  height: 250px;
  background-color: #FAFAFA;
  padding: 10px;
  border: 3px grey;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
  border-radius: 20px;
 
}

}