.container-home {
  width: 100%;
  height: 100vh;
  background-image: url('../../../../static/image/icon/lights.jpg');
}

.authentification {
  width: 35%;
  height: 45%;
  overflow: auto;
  padding : 3%;
  background: white;
  border-radius: 2px;
  margin: auto;
  position: relative;
  top: 20vh;
}

.authentification > form { display: flex; flex-direction: column; align-items: center}
.form-control { display: flex; flex-direction: column; width: 90%; margin: 2%;}
.form-control > input {
  padding: 2%;
  border-radius: 2%;
  border: solid 1px rgba(0,0,0,0.3); 
}
.form-control > input:hover { background: #FAFAFA;}
.form-control > label { color: #FF5D00;}

.forget-pass { font-size: 12px; margin: 1%;}

.connexion {
  background-color: #FFA447;
  padding: 2%;
  width: 100px;
  border:none;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
.connexion:hover {
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.3);
}

.inscription-form > p {
  font-size: 12px;
  margin-top: 6%;
  color: #FFA447;
}

.inscription {
  background-color: #FF5D00;
  padding: 2%;
  width: 150px;
  border:none;
  color: white;
  font-weight: 600;
}

.inscription:hover {
  cursor: pointer;
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.3);
} 



@media screen and (max-width: 990px)  {
  .inscription-form {
     visibility: hidden; 
  }

  .authentification {
    width: 90%;
    font-size: 40px;
    font-weight: 400;
    margin: auto;
    height: 36%;
    padding-top: 5%;
    top: 25vh;
    border-radius: 10px;
  }

  .form-control > input {
    padding: 5%;
    border-radius: 2%;
    font-size: 30px;
    border: solid 1px rgba(0,0,0,0.3); 
  }
  .form-control > input:hover { background: #FAFAFA;}
  .connexion {
    width: 40%;
    padding: 4%;
    margin-top: 6%;
  }
  .forget-pass { visibility: hidden;}
}
