/*CONTAINER PRINCIPAL DU FOOTER*/
footer {
  margin:0;
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
  opacity: 0.7;
  border: solid 0.5px rgba(0,0,0,0.4);
  position: sticky;
  bottom: 0;
  top: 100%;
}
  /*Le footer contient une liste*/
  footer > ul {
    display: flex;
    height: 30px;
    width: 100%;
    margin: 0;
    padding:0;
    flex-direction: row;
    list-style-type: none;
  }
    footer > ul > li {
      margin:auto;
      text-align: center;
      text-align: -moz-center;
      width: 20%;
    }
    footer > ul > li:hover {
      height: 100%;
      box-shadow: 0px 0px 4px 2px black;
    }
    footer > ul > li:nth-of-type(1) { text-align: center; flex-basis: 10%; }
    footer > ul > li:nth-of-type(2) { text-align: center; flex-basis: 10%; margin-right: 15%;}
    footer > ul > li:nth-of-type(3) { text-align: center; flex-basis: 10%; }
    footer > ul > li:nth-of-type(4) { text-align: center; flex-basis: 10%; }
    footer > ul > li:nth-of-type(5) { text-align: center; flex-basis: 10%; margin-right: 15%;}
    footer > ul > li:nth-of-type(6) { text-align: center; flex-basis: 20%;}
      /*Menu déroulant pour les contacts*/
      footer > ul > li:nth-of-type(6) > ul{
        width: 20%;
        display: none;
        list-style: none;
        position: absolute;
        bottom: 100%;
        right:0%;
        background-color: white;
        padding: 0;
        margin:0;
        border: solid 0.5px rgba(0,0,0,0.6);
        border-radius: 4px 4px;
      }
        footer > ul > li:nth-of-type(6) > ul > li {
          font-size: 12px;
          color: white;
          padding: 2%;

        }
      /*Configuration des liens de redirection*/
      footer > ul > li > a {
        text-decoration: none;
        color: rgba(0,0,0);
        font-size: 10px;
        font-weight: 600;
      }
