.card-addPiece {
  width: 40%;
  border: solid 1px;
  border-color: rgba(0,0,0,0.2);
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 30%;
}

.card-addPiece > form {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.card-addPiece > form > p {
  font-size: 20px;
  font-weight: 600;
  color: #FFAE37;
}

.card-addPiece > form > input {
  width: 150px;
  padding: 1%;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #FFAE37;
  color: white;
  font-weight: 600;
  border: 1px solid rgba(0,0,0,0.2);
}

.card-addPiece > form > input:hover {
  background-color: #F2F2F2;
  color: rgba(0,0,0,0.6);
}

.card-addPiece > form > div {
  margin-bottom: 3%;
}

.card-addPiece > form > div >input {
  padding: 2%;
  border-radius: 4px;
  border: solid 1px rgba(0,0,0,0.2);
}

.card-addPiece > form > div > select {
  padding: 2%;
  border-radius: 4px;
  border: solid 1px rgba(0,0,0,0.2);
}

.card-addPiece > form > div > label {
  color: red;
}
