.container-piece-capteurs {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3%;
}

.container-resume-piece {
  flex-basis: 50%;
}
  .container-resume-piece > a {
    position: absolute;
    top: 16%;
    text-decoration: none;
    border: solid 1px #FFD006;
    background-color: #FAFAfa;
    padding: 1%;
    color: #FFD006;
    background-color: #FAFAFA;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .container-resume-piece > a:hover {
    background-color: #FFD006;
    color: white;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
  }
  .container-resume-piece > .resume-piece {
    width: 80%;
    background-color: #FAFAFA;
    height: 250px;
    display: flex;
    flex-direction: row;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
    position: sticky;
    margin-top: 10%;
  }
    .container-resume-piece > .resume-piece > .photo-piece {
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 4%;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-color: #FFD006;
    }
    .container-resume-piece > .resume-piece > .description-piece {
      margin-left: 2%;

    }

.container-capteurs {
  flex-basis: 50%;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
  .card-capteur {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.2);
    background-color: white;
    margin-bottom: 5%;
    margin-left: 2%;
  }

     .card-capteur > .card-head {
       height: 14%;
       border-bottom: solid 1px rgba(0,0,0,0.1);
     }
       .card-capteur > .card-head > ul {
         display: flex;
         flex-direction: row;
         height: 100%;
         margin: 0;
         padding: 0;
       }
         .card-capteur > .card-head > ul > li {
           list-style-type: none;
         }
         .card-capteur > .card-head > ul > li:first-of-type {
           flex-basis: 50%;
           margin-left: 10%;
         }
           .card-capteur > .card-head > ul > li:first-of-type > h5 {
             margin-top: 8%;
             color: #FFD006;
           }
         .card-capteur > .card-head > ul > li:last-of-type {
           flex-basis: 20%;
           text-align: center;
           text-align: -moz-center;
           margin-left: 20%;
         }
           .button-config-capteur {
             margin-top: 16%;
             padding: 1%;
             margin-left: 10%;
             height: 60%;
             width: 40%;
             background: transparent;
             box-shadow: none;
             border: none;
           }
           .button-config-capteur:hover {
             border-radius: 50%;
             box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
           }
             .button-config-capteur > img {
               width: 100%;
               margin-top: 5%;
             }

          .card-capteur > .card-head > ul > li:last-of-type > nav {
            display: none;
            border: solid 1px rgba(0,0,0,0.1);
            margin-top: 5%;
            z-index: 100;
            position: sticky;
            background-color: white;
          }
            .card-capteur > .card-head > ul > li:last-of-type > nav > ul {
              list-style-type: none;
              padding: 0;
            }
              .card-capteur > .card-head > ul > li:last-of-type > nav > ul > li {
                padding: 5%;
                font-size: 8px;
              }
                .card-capteur > .card-head > ul > li:last-of-type > nav > ul > li  > a {
                  text-decoration: none;
                  color: #333333;
                }
                .card-capteur > .card-head > ul > li:last-of-type > nav > ul > li > a:hover {
                  color: #FFB870;
                }


     .card-capteur > .card-body {
       height: 72%;
     }
       .card-capteur > .card-body > img {
         height: auto;
         max-width: 100%;
         margin-left: 25%;
         margin-top: 8%;
       }
     .card-capteur > .card-footer {
       height: 14%;
       text-align: center;
       text-align: -moz-center;
       border-top: solid 1px rgba(0,0,0,0.1);
     }
       .card-capteur > .card-footer > .button-go-to-capteur {
         text-decoration: none;
         border: solid 1px rgba(0,0,0,0.3);
         color: white;
         font-weight: 500;
         background-color: #FFD006;
         padding: 1%;
         border-radius: 5px;
         margin-top: 1.5%;
         width: 60%;
       }
       .card-capteur > .card-footer > .button-go-to-capteur:hover {
         box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
       }

  .container-capteurs > button {
    margin-top: 12%;
    margin-left: 2%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: 800;
    font-size: 20px;
    color: white;
    background-color: #FFD006;
  }
