h1 {
  color : orange;
  text-align:center;  
}

h2 {
  color : orange;
  text-align:center;
}

/*Container de toute la page*/
.container-chat {
  display: flex;
  flex-direction: row;
}

.container-chat > .container-details-chat {
  width: 650px;
  height: 400px;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.05);
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
  vertical-align: middle;
  margin-left: 2%;
}


/* Contient les informations du message : qui l'envoie, à quelle heure etc. */
.container-chat > .container-details-chat > .informations  {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 26px);
   height: 78px;
   width: 300px;
   margin: 10px 10px 19px 10px;
   background-color: rgba(0,0,0,0.05);
   border-radius: 10px;
   box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
}

.container-chat > .container-details-chat > .informations > .nom  {
   text-align: -moz-center;
   margin: 10px 10px 10px 10px;
   font-size: small;
   color : black;
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 1;
}

.container-chat > .container-details-chat > .informations > .photo  {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;

}

.container-chat > .container-details-chat > .informations > .photo img {
  float: left;
  align-self: stretch;
  width: 50px;
  margin: 10px 10px 19px 10px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;

}


.container-chat > .container-details-chat > .informations > .heure img {
  width: 20px;
  grid-column : 2/3;
  grid-row : 2/3;
}

.container-chat > .container-details-chat > .informations > .heure h3 {
  font-size: small;
  color : black;
  text-align: center;
  /*margin: 1px 1px 1px 10px;*/
  grid-column : 2/3;
  grid-row : 2/3;
}

.container-chat > .container-details-chat > .informations > .date img {
  width: 30px;
  /*margin: 10px 10px 19px 10px;
  float:center;*/
  font-size: small;
  color : black;
  grid-column : 3/4;
  grid-row : 2/3;
}

.container-chat > .container-details-chat > .informations > .date h3 {
  font-size: small;
  color : black;
  text-align: left;
  grid-column : 3/4;
  grid-row : 3/4;

}

/* Ce qu'on peut faire avec le message*/

.container-chat > .container-details-chat > .profil img {
  margin: 10px 10px 10px 10px;
  width: 50px;
  float:left;

}

.container-chat > .container-details-chat > .accesChat img {
  margin: 3px 10px 19px 10px;
  width: 65px;
  float:left;
}

.container-chat > .container-details-chat > .valider img {
  margin: 13px 10px 19px 10px;
  width: 60px;
  float:left;
}

.container-chat > .container-details-chat > .supprimer img {
  margin: 10px 10px 19px 10px;
  width: 50px;
  float:left;
}

/* Pop-up message */




