@media only screen and (min-width: 1100px) {
  h1 {
  color : orange;
  text-align:center;  
}

h2 {
  color : orange;
  text-align:center;
}

/*Container de toute la page*/
.container-chat {
  display: flex;
  flex-direction: row;
}

.container-chat > .container-details-chat {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 60%;
  height: 400px;
  align-content: space-around;
  justify-content: space-around;
  background-color: white /*rgba(0,0,0,0.05)*/;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
  margin-left: 7%;
}


/* Contient les informations du message : qui l'envoie, à quelle heure etc. */
.container-chat > .container-details-chat > .informations  {
   display : grid;
   /*flex-direction: row;*/
   grid-template-columns: repeat(3, 100px);
   grid-template-rows: repeat(3,33px);
   width: 300px;
   height: 100px;
   margin: 10px 10px 10px 10px;
   background-color: white /*rgba(0,0,0,0.05)*/;
   border-radius: 10px;
   box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
}

.container-chat > .container-details-chat > .informations > .nom  {
   text-align:  center;
   margin: 10px 10px 10px 10px;
   font-size: bold 15px;
   color : black;
   grid-column-start: 2;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 1;
}

.container-chat > .container-details-chat > .informations > .photo  {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;


}

.container-chat > .container-details-chat > .informations > .photo img {
  float: left;
  align-self: stretch;
  width: 90px;
  margin: 10px 10px 19px 10px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;

}

.container-chat > .container-details-chat > .informations > .heure {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  }


.container-chat > .container-details-chat > .informations > .heure img {
  width: 35px;
  grid-column : 2/3;
  grid-row : 2/3;
}

.container-chat > .container-details-chat > .informations > .heure h3 {
  font-size: small;
  color : black;
  text-align: center;
  margin: 1px 1px 1px 1px;
  grid-column : 2/3;
  grid-row : 3/4;
}

.container-chat > .container-details-chat > .informations > .date img {
  width: 35px;
  /*margin: 10px 10px 19px 10px;
  float:center;*/
  font-size: small;
  color : black;
  grid-column : 3/4;
  grid-row : 2/3;
}

.container-chat > .container-details-chat > .informations > .date h3 {
  font-size: small;
  color : black;
  text-align: center;
  margin: 1px 1px 1px 1px;
  grid-column : 3/4;
  grid-row : 3/4;

}


.container-chat > .container-details-chat > .bouton input {
  width:60px;
  height:60px;
  background:white;
  font:bold 13px Arial;
  border-radius:50%;
  margin: 30px 10px 10px 10px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.5);
  border:none;
  color:black;
}


.container-chat > .container-details-chat > .accesChat img {
  margin: 30px 10px 10px 10px;
  width: 65px;
  float:left;
}

.container-chat > .container-details-chat > .valider img {
  margin: 30px 10px 10px 10px;
  width: 60px;
  height: auto;
  float:left;
}

.container-chat > .container-details-chat > .supprimer img {
  margin: 35px 10px 10px 10px;
  width: 50px;
  float:left;
}



/* Pop-up message */




@media only screen and (min-width: 400px) and (max-width: 800px) {

h1 {
  color : orange;
  text-align:center;  
}

h2 {
  color : orange;
  text-align:center;
}

/*Container de toute la page*/
.container-chat {
  display: flex;
  flex-direction: row;
}

.container-chat > .container-details-chat {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: : 300px;
  width: auto;
  align-content: space-around;
  justify-content: space-around;
  background-color: white /*rgba(0,0,0,0.05)*/;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
  margin-left: 2%;
}


/* Contient les informations du message : qui l'envoie, à quelle heure etc. */
.container-chat > .container-details-chat > .informations  {
   display : grid;
   /*flex-direction: row;*/
   grid-template-columns: repeat(3, 120px);
   grid-template-rows: repeat(3,33px);
   width: 60%;
   height: 100px;
   margin: 10px 10px 10px 10px;
   background-color: white /*rgba(0,0,0,0.05)*/;
   border-radius: 10px;
   box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
}

.container-chat > .container-details-chat > .informations > .nom  {
   text-align:  center;
   margin: 10px 10px 10px 10px;
   font-size: bold 15px;
   color : black;
   grid-column-start: 2;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 1;
}

.container-chat > .container-details-chat > .informations > .photo  {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;


}

.container-chat > .container-details-chat > .informations > .photo img {
  float: left;
  align-self: stretch;
  width: 90px;
  margin: 10px 10px 19px 10px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;

}

.container-chat > .container-details-chat > .informations > .heure {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  }


.container-chat > .container-details-chat > .informations > .heure img {
  width: 35px;
  grid-column : 2/3;
  grid-row : 2/3;
}

.container-chat > .container-details-chat > .informations > .heure h3 {
  font-size: small;
  color : black;
  text-align: center;
  margin: 1px 1px 1px 1px;
  grid-column : 2/3;
  grid-row : 3/4;
}

.container-chat > .container-details-chat > .informations > .date img {
  width: 35px;
  /*margin: 10px 10px 19px 10px;
  float:center;*/
  font-size: small;
  color : black;
  grid-column : 3/4;
  grid-row : 2/3;
}

.container-chat > .container-details-chat > .informations > .date h3 {
  font-size: small;
  color : black;
  text-align: center;
  margin: 1px 1px 1px 1px;
  grid-column : 3/4;
  grid-row : 3/4;

}


.container-chat > .container-details-chat > .bouton input {
  width:60px;
  height:60px;
  background:white;
  font:bold 13px Arial;
  border-radius:50%;
  margin: 30px 10px 10px 10px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.5);
  border:none;
  color:black;
}


.container-chat > .container-details-chat > .accesChat img {
  margin: 30px 10px 10px 10px;
  width: 65px;
  float:left;
}

.container-chat > .container-details-chat > .valider img {
  margin: 30px 10px 10px 10px;
  width: 60px;
  height: auto;
  float:left;
}

.container-chat > .container-details-chat > .supprimer img {
  margin: 35px 10px 10px 10px;
  width: 50px;
  float:left;
}

}