
@media only screen and (min-width : 769px) {
  .container-all {
    display: flex;
  }
  
  /*DESIGN DES CARDS*/
  .container-all > .card-container-profil {
    flex:1.3;
    height: auto;
    margin: auto;
    display: flex;
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
    text-align: -moz-center;
    vertical-align: middle;
    margin-left: 2%;
    padding-right: 1%;
  }
  
    .container-all > .card-container-profil > .photo {
      width: 100px;
      height: 100px;
      margin-top: 6%;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 6%;
      border: solid 1px grey;
      border-radius: 50%;
      background-color: white;
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2); /*Style d'ombre 3D*/
      overflow: hidden;
    }
  
    .container-all > .card-container-profil > .description {
      width: 70%;
      height: 200px;
      margin-top: 6%;
      margin-bottom: 6%;
      overflow-y: auto;
      box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .2); /*Style d'ombre 3D*/
      border: solid 1px grey;
      background-color: white;
      border-radius: 5px;
      padding-left: 5px;
    }
      .container-all > .card-container-profil > .description > .title {
        margin-top: 2%;
        font-size: 24px;
        font-weight: 500;
        color: #333;
      }
  
      .container-all > .card-container-profil > .description > .sub-title {
          color: #333;
          font-size: 10px;
          line-height: 10px;
          margin-bottom: 5%;
      }
  
      .container-all > .card-container-profil > .description > .text {
        font-size: 18px;
        line-height: 20px;
        color: #333;
      }
  
    .container-all > .card-container-object {
    flex:2;
    height: 500px;
    margin: 0% 2% 2% 2%;
    /* background-color: rgba(255,171,38, .6) ; Orange */
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    }
      .container-all > .card-container-object > form > .card-n {
      width: 200px;
      height: 300px;
      border: solid 1px rgba(0,0,0,0.6);
      border-radius: 5px;
      box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2); /*Style d'ombre 3D*/
      background-color: white;
      margin-left: 3.5%;
      margin-top: 2.5%;
      overflow: hidden;
      }
  
      .container-all > .card-container-object > form > .card-n  > img {
        margin: auto;
      }
  
      .container-all > .card-container-object > form > .card-n:hover {
        border-color: orange;
      }
  
      .container-all > .card-container-object > form > .card-n > .banniere {
        width: 100%;
        height: 50px;
        border-top: solid 1px rgba(0,0,0,0.15);
        border-bottom: solid 1px rgba(0,0,0,0.15);
        background-color: rgba(0,0,0,0.1);
        text-align: center;
        vertical-align: auto
      }
  
    .container-all > .card-container-object > form > .card-n > input {
      width: 50px;
      height: 50px;
      border: solid 1px;
      border-radius: 50%;
      background-color: grey;
      color: white;
      font-size: 15px;
    }
  
  /*CONFIGURATION DE LA CARD CLIENT*/
  .client {
    width: 99%;
    /* height: 100%; */
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2); /*Style d'ombre 3D*/
    border-radius: 10px;
    border: solid 1px;
    border-color: rgba(0,0,0, .1);
    background-color: white;
    visibility: visible;
  }
  
  /*CONFIGURATION DE LA CARD LOGEMENT*/
  .logement {
    width: 99%;
    height: 100%;
    grid-area: main;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin-top: 2%;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2); /*Style d'ombre 3D*/
    border-radius: 10px;
    border: solid 1px;
    border-color: rgba(0,0,0, .1);
    background-color: white;
    visibility: hidden;
  }
  
  /*CONFIGURATION DE LA CARD PIECE*/
  .piece {
    width: 99%;
    height: 100%;
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2); /*Style d'ombre 3D*/
    border-radius: 10px;
    border: solid 1px;
    border-color: rgba(0,0,0, .1);
    background-color: white;
    visibility: hidden;
  }
  
  /*CONFIGURATION DE LA CARD CAPTEUR*/
  .capteur {
    width: 99%;
    height: 100%;
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2); /*Style d'ombre 3D*/
    border-radius: 10px;
    border: solid 1px;
    border-color: rgba(0,0,0, .1);
    background-color: white;
    visibility: hidden;
  }
  
  }
  
  
  
  @media only screen and (max-width : 768px) {
  
    .container-all > .card-container-profil {
      width: auto;
      height: auto;
      margin: auto;
      display: flex;
    }
  
    .container-all > .card-container-profil > .photo {
      width: 100px;
      height: 100px;
      margin-top: 6%;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 6%;
      border: solid 1px grey;
      border-radius: 50%;
      background-color: white;
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2); /*Style d'ombre 3D*/
      overflow: hidden;
    }
  
    .container-all > .card-container-profil > .description {
      width: 70%;
      height: 200px;
      margin-top: 6%;
      margin-bottom: 6%;
      overflow-y: auto;
      box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .2); /*Style d'ombre 3D*/
      border: solid 1px grey;
      background-color: white;
      border-radius: 5px;
      padding-left: 5px;
    }
      .container-all > .card-container-profil > .description > .title {
        margin-top: 2%;
        font-size: 24px;
        font-weight: 500;
        color: #333;
      }
  
      .container-all > .card-container-profil > .description > .sub-title {
          color: #333;
          font-size: 10px;
          line-height: 10px;
          margin-bottom: 5%;
      }
  
      .container-all > .card-container-profil > .description > .text {
        font-size: 18px;
        line-height: 20px;
        color: #333;
      }
  
    .container-all > .card-container-object {
      width: auto;
      height: 500px;
      margin: 0% 2% 2% 2%;
      background-color: rgba(0,0,0,0.05);
      border-radius: 10px;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      }
      .container-all > .card-container-object > form > .card-n {
        width: 200px;
        height: 200px;
        border: solid 1px rgba(0,0,0,0.6);
        border-radius: 5px;
        box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2); /*Style d'ombre 3D*/
        background-color: white;
        margin-left: 3.5%;
        margin-top: 2.5%;
        overflow: hidden;
        }
    
        .container-all > .card-container-object > form > .card-n  > img {
          margin-left: 10%;
        }
    
        .container-all > .card-container-object > form > .card-n:hover {
          border-color: orange;
        }
    
        .container-all > .card-container-object > form > .card-n > .banniere {
          width: 100%;
          height: 50px;
          border-top: solid 1px rgba(0,0,0,0.15);
          border-bottom: solid 1px rgba(0,0,0,0.15);
          background-color: rgba(0,0,0,0.1);
          text-align: center;
          vertical-align: auto
        }
    
      .container-all > .card-container-object > form > input {
        width: 50px;
        height: 50px;
        border: solid 1px;
        border-radius: 50%;
        background-color: grey;
        color: white;
        font-size: 30px;
      }
  }
  