/*Bouton retour arriere*/
.goBack {
  text-decoration: none;
  border: solid 1px;
  margin-top: 2%;
  padding: 1% 2% 1% 2%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1em;
  color: rgba(255, 208, 6, 0.8);
  background-color: white;
}

.goBack:hover {
  color: white;
  background-color: rgba(255, 208, 6, 0.8);
}

/*Bloc de gauche*/
.container > .element:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
  margin: auto;
  background-color: rgba(0,0,0,0.05);
  border-radius: 10px;
  text-align: -moz-center;
  vertical-align: middle;
  margin-left: 2%;
  padding-top: 10px;
}

.container > .element:nth-child(1) > .photo {
  width: 100px;
  height: 100px;
  border: solid 1px grey;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2); /*Style d'ombre 3D*/
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.container > .element:nth-child(1) > .title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.container > .element:nth-child(1) > p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.container > .element:nth-child(1) > .on_off > span {
  margin-left: 25%;
  vertical-align: -webkit-baseline-middle;
  color: #FFD006;
}

/*Bouton ON OFF*/
.toggle-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: auto;
}

.toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FFD006;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFD006;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Bloc tableau de bord*/
.container > .info {
  width: 65%;
  height: 460px;
  margin: 2%;
  background-color: rgba(0,0,0,0.05);
  border-radius: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container > .info > .tete {
  display: flex;
  justify-content: space-around;
}

.container > .info > .tete > .navbar > ul {
  list-style-type: none;
  display: flex;
}

.container > .info > .tete > .navbar > ul > li {
  margin: 15px;
}

.container > .info > .tete > .navbar > ul > li > button {
  text-decoration: none;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em;
  color: rgba(255, 208, 6, 0.8);
  background-color: white;
  font-weight: bold;
}

.container > .info > .tete > .navbar > ul > li > button:hover {
  color: white;
  background-color: rgba(255, 208, 6, 0.8);
}

.container > .info > #tableau_de_bord {
  display: flex;
  justify-content: center;
}

/*Organisation du ontenu des onglets*/
.tabcontent {
  display: none;
}

.tabcontent > h2{
  text-align: center;
}

/*Contenu de Programme*/
.modal-big-text {
  overflow-y: scroll;

}
.modal-big-text > table > tbody > tr > td {
  text-align: center;
}
.modal-big-text > table > tbody > tr > td:first-of-type {
  width: 15%;
  font-weight: bold;
}
.modal-big-text > table > tbody > tr > td:nth-of-type(2) {
  width: 25%;
}
.modal-big-text > table > tbody > tr > td:nth-of-type(2) > p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.modal-big-text > table > tbody > tr > td:nth-of-type(2) > span {
  font-size: 10px;
}
.modal-big-text > table > tbody > tr > td:nth-of-type(3) {
  width: 25%
}

  .modal-big-text > table > tbody > tr > td:nth-of-type(3) > .toggle-button {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-left: 5%;
  }
    .modal-big-text > table > tbody > tr > td:nth-of-type(3) > .toggle-button > input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .modal-big-text > table > tbody > tr > td:nth-of-type(3) > .toggle-button > .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .modal-big-text > table > tbody > tr > td:nth-of-type(3) > .toggle-button > .slider:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .modal-big-text > table > tbody > tr > td:nth-of-type(3) > .toggle-button > input:checked + .slider {
      background-color: #FFD006;
    }
    .modal-big-text > table > tbody > tr > td:nth-of-type(3) > .toggle-button > input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    .modal-big-text > table > tbody > tr > td:nth-of-type(3) > .toggle-button > input:checked + .slider:before {
      -webkit-transform: translateX(17px);
      -ms-transform: translateX(17px);
      transform: translateX(17px);
    }
    .modal-big-text > table > tbody > tr > td:nth-of-type(3) > .toggle-button > .slider.round {
      border-radius: 34px;
    }
    .modal-big-text > table > tbody > tr > td:nth-of-type(3) > .toggle-button > .slider.round:before {
      border-radius: 50%;
    }
.modal-big-text > table > tbody > tr > td:nth-of-type(4) {
  width: 15%;
}
.modal-big-text > table > tbody > tr > td:nth-of-type(5) {
  width: 15%;
}


/*Contenu de Reglages*/
#reglages > .container-diagrammeCirculaire{
  display: flex;
}

#reglages > .container-diagrammeCirculaire > .plus_moins {
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
}
  #reglages > .container-diagrammeCirculaire > .plus_moins > button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: 800;
    margin-top: 75%;
  }

/*Contenu de Ambiances*/
#ambiances {
  margin-bottom: 5%;
  width: 100%;
}
    #ambiances > div {
      margin-bottom: 2%;
      overflow-y: scroll;
    }
      #ambiances > div > ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 5%;
        margin: 0;
      }
        #ambiances > div > ul > li {
          padding: 1%;
          list-style-type: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 4%;
        }
        #ambiances > div > ul > li > span {
          flex-basis: 40%;
          margin-left: 3%;
          margin-top: 1%;
        }
