.card-container-client {
    width: auto;
    height: 500px;
    margin: 2% 2% 2% 2%;
    /* background-color: rgba(255,171,38, .6) ; Orange */
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    }

    .card-container-client > form {
      margin-left: 3.5%;
      margin-top: 2.5%;
    }
      .card-container-client > form > .card-n {
      width: 200px;
      height: 300px;
      border: solid 1px rgba(0,0,0,0.6);
      border-radius: 5px;
      box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2); /*Style d'ombre 3D*/
      background-color: white;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      }
  
      .card-container-client > form > .card-n > img {
        margin: auto;
        width: 100%;
        height: auto;
      }
  
      .card-container-client > form > .card-n:hover {
        border-color: orange;
      }
  
      .card-container-client > form > .card-n > .banniere {
        width: 100%;
        height: 50px;
        border-top: solid 1px rgba(0,0,0,0.15);
        border-bottom: solid 1px rgba(0,0,0,0.15);
        background-color: rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
    .card-container-client > form > .card-n > div {
      display: flex;
    }
    
    .card-container-client > form > .card-n > div > input {
      width: 100px;
      height: 50px;
      border: solid 1px;
      border-radius: 0%;
      margin: 0%;
      background-color: grey;
      color: white;
      font-size: 15px;
    }

    #delete {
      width: 100px;
      height: 50px;
      border: solid 1px;
      background-color: red;
      color: white;
      font-size: 15px;
      vertical-align: middle;
    }

#textNoClient {
  margin: auto;
  font-size: 2em;
  font-weight: bold;
}
.msg-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteMsg {
  font-size: 2em;
  font-weight: bold;
}

/*Pop up supprimer un client*/
.container-modal {
  text-align: center;
}
.modal-supprimer > .modal-head > p {
  color: #F44236;
  font-weight: 600;
  font-size: 1.5em;
}
.modal-supprimer > .modal-text > form > .form-group > input {
  border: solid 2px rgba(0,0,0,0.2);
  padding: 1%;
  border-radius: 5px;
  margin: 4%;
}
.modal-supprimer > .modal-text > form > .form-group > label {
  font-size: 1.1em;
}
.modal-supprimer > .modal-text > form > input {
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 5px;
  background-color: #F44236;
  color: white;
  font-weight: 600;
  font-size: 1em;
}
