#container{
	display: flex;
	flex-direction: row;
	width: 92%;
	margin-left: 8%;
	height: 95vh;
}

#containerleft {

  display: flex;
	flex-direction: column;
	width: 50%;
	text-align: center;
	margin: 50px;

}

#containeright {

  display: flex;
	width: 60%;
	text-align: left;
	flex-direction: column;

}

.logements > h2 {
	font-size: 25px;
	text-align: center;
	color: #8C8C8C;
}

.capteurs > h2 {
	font-size: 25px;
	text-align: center;
	color: #8C8C8C;
}

.informations {
	background-color: white;
	border: 3px grey;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
	width: 85%;
	border-radius: 2px;
	margin-top: 10%;
}

.informations img{
	width: 25px;
	height: 25px;
}


.profil img{

	width: 80px;
	height: 80px;
}

.logements {
	color: black;
	border: 3px grey;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
	border-radius: 30px;
	margin: 12px;
	height: 350px;
	padding-bottom: 30px;
	margin-top: -90px;
	padding-top: 20px;
	background-color: white;
}

.maison img{
	display: block;
    margin-left: 95px;
    margin-right: 10px;
	width: 350px;
	height: 200px;


}


.capteurs{
	color: black;
	border: 3px grey;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
	border-radius: 30px;
	margin: 12px;
	height: 250px;
	padding-bottom: 50px;
	padding-top: 20px;
	background-color: white;
}


.ecolight img{
    display:block;
	width:80px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 20px;
	padding-top: 20px;
}

.partage {
	background-color: white;
	color: black;
	border: 3px grey;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
	height: 250px;
	width: 90%;
	padding-bottom: 50px;
	padding-top: 20px;
	border-radius: 4px;
	margin-top: 12%;
	margin-right: 5%;
}

.partage-header {
	height: 50px;
	border-bottom: solid 1px rgba(0,0,0,0.1);
	text-align: center;
	font-weight: 600;
	color: orange;
	font-size: 18px;
}

.partage > .card-logement-profil {
	margin: auto;
	width: 100%;
	height: 249px;
	overflow-y: scroll;
}

.card-logement-profil > details {
	border-bottom: solid 1px rgba(0,0,0,0.1);
	padding: 4%;
}

.card-logement-profil > details:hover {
	background-color: #FAFAFA;
	cursor: grabbing;
}

.card-logement-profil > details > div {
	display: flex;
	flex-direction: row;
	padding: 4%;
}

.card-logement-profil > details > summary {
	font-weight: 600;
	font-size: 18px;
}

.card-logement-profil > details > div > form {
	margin-left: 40%;
}

.card-logement-profil > details > div > form > input  {
	background-color: white;
	border: none;
}

.card-logement-profil > details > div > form > input:hover  {
	color: red;
}

.table-information {
	padding: 2%;
}

.head-table {
	color: orange;
	font-size: 18px;
	text-align: center;
	border-bottom: solid 1px rgba(0,0,0,0.1);
	font-weight: 600;
	padding: 2%;

}

.table-information > tbody > tr > td  {
	padding: 2%;
	text-align: left;
}

.table-information > tbody > tr > td:nth-child(2n+1) {
	font-weight: 600;
	padding-left: 2%;
	width: 50%;
}

.footer-table {
	padding: 1%;
	border-top: solid 1px rgba(0,0,0,0.1);
}

.footer-table > form > input {
	padding: 2%;
	color: white;
	background-color: orange;
	border: none;
	width: 20%;
}

.footer-table > form > input:hover {
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}
