header {
  width: 8%;
  height: 100vh;
  position: fixed;
  background: #ff9100;
}

header > .navbar {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
header > .navbar:hover {
  box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.3);
  background: #ff6d00;
  cursor: pointer;
}

header > .navbar > a,
.add-logement {
  border: none;
  background: none;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-wrap: break-word;
  text-overflow: clip;
  top: 6vh;
}

header > .navbar > form > button:hover {
  cursor: pointer;
}

header > div {
  text-align: center;
}
header > div > img {
  width: 80%;
  height: 90%;
}
